@model SimpleBlog.ViewModels.AuthLogin
@{ 
    ViewBag.Title = "Login";
}
@using (Html.BeginForm())
{

}
 <!-- This code here was replaced by the helper methods above.
      <form method="post">
       <input type="text" name="Username" />
       <input type="password" name="Password" />
       <input type="submit" value="login" />
   </form>  -->
